<template>
	<li class="nav-item dropdown" v-if="notifications.length">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span><i class="fas fa-bell" style="color:red;"></i></span>
        </a>
        <ul class="dropdown-menu">
        	<li class="dropdown-item" v-for="notification in notifications ">
        		<a :href="notification.data.link" v-text="notification.data.message" @click="markAsRead(notification)"></a>
        	</li>
        </ul>
	</li>
</template>
<script>
	export default{
		data(){
			return{
				notifications:false
			}
		},
		created(){
			axios.get("/profiles/"+ window.App.user.name +"/notifications")
				.then(response => this.notifications = response.data);
		},
		methods:{
			markAsRead(notification){
				axios.delete("/profiles/"+ window.App.user.name +"/notifications/"+notification.id)
			}
		}
	};
</script>
